<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v1/toolkit.min.css">
    <title>ChaiMaMa</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md shadow-sm" style="background-color: rgba(190,197,197,1);">
        <div class="container"><a class="navbar-brand" href="/">ChaiMaMa Store</a><button data-bs-toggle="collapse"
                class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/listprod">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="/showcart">Cart</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div data-reflow-type="shopping-cart" data-reflow-success-url="success.html"
                    data-reflow-cancel-url="cancel.html">
                    <div class="reflow-shopping-cart">
                        <div class="ref-checkout" style="display: block;">
                            <div class="ref-checkout-content">
                                <form class="ref-details" action="/order" method="get">
                                    <div class="ref-heading">Details</div>
                                    <label>
                                        <span>Customer ID</span>
                                        <input id="ref-field-id" type="text" name="customerId" required value={{{id}}}>
                                        <div class="ref-validation-error"></div>
                                    </label>
                                    <label>
                                        <span>Email</span>
                                        <input id="ref-field-email" type="email" name="email" required
                                            value={{{email}}}>
                                        <div class="ref-validation-error"></div>
                                    </label>
                                    <label>
                                        <span>Phone</span>
                                        <input id="ref-field-phone" type="tel" name="phone" pattern="[0-9\+\- ]{5,30}"
                                            placeholder="+250 555 1234" required value={{{phone}}}>
                                        <div class="ref-validation-error"></div>
                                    </label>
                                    <div class="ref-shipping-address-holder"></div>

                                    <label class="ref-note-to-seller">
                                        <span>
                                            <strong>Note to Seller</strong>
                                        </span>
                                        <textarea id="ref-field-note-seller" name="note-to-seller" row="4"
                                            maxlength="1000"
                                            placeholder="If you have any specific instructions you want to give to the seller, write them here."
                                            data-state-src="note"></textarea>
                                        <div class="ref-validation-error"></div>
                                    </label>

                                    <div class="ref-nav" style="padding-top:10px;">
                                        <div class="ref-row">
                                            <a class="ref-back" href="/showcart"
                                                style="text-decoration: none; color:#828887">
                                                ← Back to Shopping Cart
                                            </a>
                                            <button class="ref-button" style="background-color: #828887;" type="submit">
                                                Confirm Order
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src=" https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>