<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v1/toolkit.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>chaimama</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button"
            style="height:60px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#">
                    <svg id='logo' width="34" height="34" viewBox="0 0 34 34" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.8095 20.9911C7.8095 12.5848 15.2432 5.48451 25.9194 4.44997C27.846 4.26327 29.1218 2.86693 30.7606 2.50395C33.4216 1.91457 31.1331 1.76475 30.0434 2.47615C27.5775 4.08589 27.82 8.8239 27.82 11.4834C27.82 17.5778 24.7152 20.2529 16.8106 21.0189C13.4102 21.3484 9.45157 22.6191 6.5185 23.8823C2.4938 25.6157 2 28.6389 2 32"
                            stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>&nbsp;&nbsp;<span style="color:#ffffff;font-size: 26px">ChaiMaMa</span>
                </a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link active" style="color:#ffffff;" href="/"><i
                                    class="fa fa-home"></i>&nbsp;Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="my-list-prod">
        <form action="/listprod" method="get" style="padding-bottom: 10px;">
            <div class="row padMar">
                <div class="col padMar">
                    <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input class="form-control autocomplete" type="text" name="productName"
                            placeholder="Search your product">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="submit"
                                style="background-color:#828887; color: white">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <p style="padding-top: 10px;">(Leave blank for all products)</p>
        </form>
        <h1>All Products</h1>
        <div data-reflow-type="product-list" data-reflow-order="name_asc" data-reflow-layout="cards">
            <div class="reflow-product-list ref-cards">
                <div class="ref-products">
                    {{{products}}}
                </div>
                {{!-- <ul class="ref-pagination">
                    <li class="ref-page-item disabled" data-reflow-page="1"><a class="ref-page-link ref-prev-btn"
                            href="file:///Applications/Bootstrap%20Studio.app/Contents/Resources/app.asar/app/index.html?server=https%3A%2F%2Fbootstrapstudio.io&amp;version=5.8.6&amp;page=1">
                            <!--?xml version='1.0' encoding='iso-8859-1'?--><svg id="Capa_1" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                y="0px" viewBox="0 0 34.075 34.075" style="enable-background:new 0 0 34.075 34.075;"
                                xml:space="preserve">
                                <g>
                                    <g>
                                        <path style="fill:currentColor;"
                                            d="M24.57,34.075c-0.505,0-1.011-0.191-1.396-0.577L8.11,18.432c-0.771-0.771-0.771-2.019,0-2.79 L23.174,0.578c0.771-0.771,2.02-0.771,2.791,0s0.771,2.02,0,2.79l-13.67,13.669l13.67,13.669c0.771,0.771,0.771,2.021,0,2.792 C25.58,33.883,25.075,34.075,24.57,34.075z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </a></li>
                    <li class="ref-page-item active" data-reflow-page="1"><span class="ref-page-link">1</span></li>
                    <li class="ref-page-item" data-reflow-page="2"><a class="ref-page-link"
                            href="file:///Applications/Bootstrap%20Studio.app/Contents/Resources/app.asar/app/index.html?server=https%3A%2F%2Fbootstrapstudio.io&amp;version=5.8.6&amp;page=2">2</a>
                    </li>
                    <li class="ref-page-item" data-reflow-page="2"><a class="ref-page-link ref-next-btn"
                            href="file:///Applications/Bootstrap%20Studio.app/Contents/Resources/app.asar/app/index.html?server=https%3A%2F%2Fbootstrapstudio.io&amp;version=5.8.6&amp;page=2">
                            <!--?xml version='1.0' encoding='iso-8859-1'?--><svg id="Capa_1" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                y="0px" viewBox="0 0 185.343 185.343" style="enable-background:new 0 0 185.343 185.343;"
                                xml:space="preserve">
                                <g>
                                    <g>
                                        <path style="fill:currentColor;"
                                            d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175 l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934 c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </a></li>
                </ul> --}}
            </div>
        </div>
    </div>




    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.reflowhq.com/v1/toolkit.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-bss-tooltip]').tooltip();

            $('[data-bss-dynamic-product]').each(function (index, elem) {
                var param = $(elem).data('bss-dynamic-product-param');
                $(elem).data('reflow-product', new URL(location.href).searchParams.get(param));
            });

        });
    </script>
</body>

</html>