<body>
    <div class="ref-checkout-summary" style="display: none;">
        <div class="ref-heading">Order Summary</div>
        <div class="ref-products"></div>
        <hr />
        <div class="ref-totals">
            <div class="ref-subtotal">
                <div class="ref-row"><span>Subtotal</span><span></span></div>
            </div>
            <div class="ref-shipping">
                <div class="ref-row"><span>Shipping</span><span></span></div>
            </div>
            <div class="ref-taxes">
                <div class="ref-row"><span></span><span></span></div>
            </div>
        </div>
        <hr />
        <div class="ref-total">
            <div class="ref-row"><span>Total</span><span></span></div>
            <div class="ref-total-note">All prices are in <span></span></div>
        </div>
    </div>
</body>